
teknologi/app/.vs/app/DesignTimeBuild/.dtbcache.v2
teknologi/app/.vs/app/v17/.futdcache.v1
teknologi/app/.vs/app/v17/.suo
*.ipch
*.sln
*.opendb
*.db
*.db-shm
*.db-wal
*.vsidx
Cargo.lock
target/
**/*.rs.bk
.vs/
.vscode/
