
teknologi/app/.vs/app/DesignTimeBuild/.dtbcache.v2
teknologi/app/.vs/app/v17/.futdcache.v1
teknologi/app/.vs/app/v17/.suo
*.ipch
*.sln
*.opendb
*.db
*.db-shm
*.db-wal
*.vsidx
Rust/server_manager_client/target
Rust/server_manager/target